carplate/
dataset_coco/
data/raw/
test_images/

dataset_yolo/images/
dataset_yolo/labels/
!dataset_yolo/data.yaml

runs/
outputs/
analysis_outputs/
fasterrcnn_outputs/
retinanet_outputs/

*.pt
*.pth
*.onnx
*.engine

__pycache__/
*.pyc
*.pyo

venv/
.venv/
env/
.env
.env.*

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
Thumbs.db


*.log
*.tmp